Repository latrung124/Totodoro: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        additional_dependencies: ["prettier@3.0.0-alpha.0"]
        entry: prettier --write --list-different --ignore-unknown
        language: node
        types: [text]
        files: \.(yaml|yml)$

      - id: clang-format
        name: clang-format
        entry: clang-format -i
        args: ["-fallback-style=none"]
        language: python
        additional_dependencies: ["clang-format==16.0.6"]
        types_or: [c, c++]
        files: |
          (?x)(
            ^core/.* |
            ^core/services/.* |
            ^core/controllers/.* |
            ^config/const_val/.* |
            ^utils/.* |
            ^view-models/mediaplayer/.* |
            ^models/.* |
            ^models/mediaplayer/.* |
            main.cpp
          )$

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: cmake-format
        description: cmake-format can format your listfiles nicely so that they don't look like crap.
        entry: cmake-format -i
        language: python
        types_or: [cmake]
        additional_dependencies: ["cmakelang"]
        files: |
          (?x)(
            CMakeList.txt |
            ^qmlmodules/.* |
            ^qmlmodules/common/.* |
            ^qmlmodules/mediaplayer/.* |
            ^services/.* |
            ^services/interfaces/.* |
            ^services/service-factory/.* |
            ^services/window-services/.* |
          )$

Implement Pomodoro progress bar item
  qmlmodules/pomodoro/PomodoroPanel.qml
Due: none

Enhance pomodoro button
  qmlmodules/pomodoro/CMakeLists.txt
  qmlmodules/pomodoro/PomodoroButton.qml
  qmlmodules/pomodoro/PomodoroButtonUnits.qml
  qmlmodules/pomodoro/PomodoroPanel.qml
Due: none

Implement loading task lists panel to home tab layout
  CMakeLists.txt
  qmlmodules/tasks_list/TasksListPanel.qml
  qmlmodules/window/layouts/WHomeTabLayout.qml
Due: none

Fixed window can drag from anywhere
  qmlmodules/window/window-components/MainWindow.qml
Due: none

Implement counted objects row
  qmlmodules/pomodoro/PomodoroPanel.qml
Due: none

Implement Pomodoro task title panel
  qmlmodules/common/buttons/CustomButtonBackground.qml
  qmlmodules/pomodoro/CMakeLists.txt
  qmlmodules/pomodoro/PomodoroTitlePanel.qml
  qmlmodules/pomodoro/resources/edit-button.png
  qmlmodules/pomodoro/resources/panda-icon.png
  qmlmodules/pomodoro/resources/trash-can.png
  qmlmodules/window/layouts/WHomeTabLayout.qml
  qmlmodules/window/window-components/MainWindow.qml
Due: none

Enhance the pomodoro progress bar
  qmlmodules/pomodoro/CMakeLists.txt
  qmlmodules/pomodoro/PomodoroButton.qml
  qmlmodules/pomodoro/PomodoroButtonUnits.qml
  qmlmodules/pomodoro/PomodoroPanel.qml
  qmlmodules/pomodoro/PomodoroProgressBar.qml
Due: none

Implement User Profile Panel QML Module
  CMakeLists.txt
  qmlmodules/CMakeLists.txt
  qmlmodules/userprofile/CMakeLists.txt
  qmlmodules/userprofile/UserProfilePanel.qml
  qmlmodules/userprofile/resources/default-avatar.png
  qmlmodules/userprofile/resources/language-button.png
  qmlmodules/userprofile/resources/question-button.png
  qmlmodules/userprofile/resources/settings-button.png
  qmlmodules/window/layouts/WHomeTabLayout.qml
Due: none

Implement Notification Control Button
  qmlmodules/window/CMakeLists.txt
  qmlmodules/window/resources/notification-button.png
  qmlmodules/window/window-components/MainWindow.qml
  qmlmodules/window/window-components/WindowNotificationControl.qml
Due: none

Implement Media Player QML module
  qmlmodules/mediaplayer/CMakeLists.txt
  qmlmodules/mediaplayer/MediaButton.qml
  qmlmodules/mediaplayer/MediaEnumeration.qml
  qmlmodules/mediaplayer/MediaPlayer.qml
  qmlmodules/mediaplayer/resources/next-button.png
  qmlmodules/mediaplayer/resources/pause-button.png
  qmlmodules/mediaplayer/resources/play-button.png
  qmlmodules/mediaplayer/resources/previous-button.png
  qmlmodules/mediaplayer/resources/repeat-button.png
  qmlmodules/mediaplayer/resources/shuffle-button.png
  qmlmodules/mediaplayer/resources/sound-button.png
  qmlmodules/pomodoro/PomodoroPanel.qml
  qmlmodules/window/window-components/MainWindow.qml
Due: none

Implement task group list qml module
  CMakeLists.txt
  qmlmodules/CMakeLists.txt
  qmlmodules/common/CMakeLists.txt
  qmlmodules/common/resources/icon/addplus.svg
  qmlmodules/common/resources/icon/ellipsis.svg
  qmlmodules/common/resources/icon/menu.svg
  qmlmodules/common/resources/icon/search.svg
  qmlmodules/task_group_list/CMakeLists.txt
  qmlmodules/task_group_list/TaskGroupItem.qml
  qmlmodules/task_group_list/TaskGroupListPanel.qml
  qmlmodules/task_group_list/TaskGroupListTitlePanel.qml
  qmlmodules/task_group_list/TaskGroupProgressBar.qml
  qmlmodules/task_group_list/resources/icon/calendar.svg
  qmlmodules/task_group_list/resources/icon/demon.png
  qmlmodules/tasks_list/CMakeLists.txt
  qmlmodules/tasks_list/TasksListPanel.qml
  qmlmodules/window/layouts/WHomeTabLayout.qml
Due: none

Implement maximize window and fixed some layout issues
  qmlmodules/pomodoro/PomodoroPanel.qml
  qmlmodules/window/CMakeLists.txt
  qmlmodules/window/layouts/WHomeTabLayout.qml
  qmlmodules/window/resources/restore-button.png
  qmlmodules/window/window-components/MainWindow.qml
  qmlmodules/window/window-components/WindowControl.qml
Due: none

Implement Pomodoro timer when click start button
  qmlmodules/pomodoro/PomodoroPanel.qml
Due: none

Update MainWindow radius on window state change
  qmlmodules/window/window-components/MainWindow.qml
Due: none

Fixed left peek corner window shown after minimizing
  qmlmodules/window/window-components/MainWindow.qml
Due: none

Implement navigator class
  CMakeLists.txt
  core/GuiApplication.cpp
  core/GuiApplication.h
  core/contexts/Context.h
  core/contexts/Navigator.cpp
  core/contexts/Navigator.h
  core/contexts/WindowNavigator.cpp
  core/contexts/WindowNavigator.h
  qmlmodules/window/window-components/MainWindow.qml
Due: clang-format

Remove useless Window Navigator class
  CMakeLists.txt
  core/GuiApplication.cpp
  core/GuiApplication.h
  core/contexts/Context.h
  core/contexts/WindowNavigator.cpp
  core/contexts/WindowNavigator.h
  qmlmodules/window/window-components/MainWindow.qml
Due: clang-format

Fixed task group list search and add icon are wrong place and size
  qmlmodules/task_group_list/TaskGroupListTitlePanel.qml
Due: none

Implement view model factory pattern
  CMakeLists.txt
  core/factories/ParamContainer.h
  core/factories/ViewModelFactory.h
  core/factories/view-model-producers/MediaPlayerVMProducer.cpp
  core/factories/view-model-producers/MediaPlayerVMProducer.h
  core/factories/view-model-producers/ViewModelProducer.h
  helpers/ParamContainerHelper.h
  view-models/ViewModel.h
  view-models/mediaplayer/MediaPlaybackViewModel.cpp
  view-models/mediaplayer/MediaPlaybackViewModel.h
  view-models/mediaplayer/MediaPlayerViewModel.cpp
  view-models/mediaplayer/MediaPlayerViewModel.h
Due: clang-format

Implement basic flow that injects view models to qml views
  CMakeLists.txt
  core/GuiApplication.cpp
  core/GuiApplication.h
  core/controllers/ViewModelController.cpp
  core/controllers/ViewModelController.h
  core/factories/ViewModelFactory.h
  core/factories/view-model-producers/MediaPlayerVMProducer.cpp
  core/factories/view-model-producers/MediaPlayerVMProducer.h
  core/factories/view-model-producers/ViewModelProducer.h
  qmlmodules/mediaplayer/MediaButton.qml
  qmlmodules/mediaplayer/MediaPlayer.qml
  qmlmodules/window/window-components/MainWindow.qml
  view-models/ViewModel.h
  view-models/mediaplayer/MediaPlaybackViewModel.cpp
  view-models/mediaplayer/MediaPlaybackViewModel.h
  view-models/mediaplayer/MediaPlayerViewModel.cpp
  view-models/mediaplayer/MediaPlayerViewModel.h
Due: clang-format

Implement Home View Model
  CMakeLists.txt
  view-models/home/HomeViewModel.cpp
  view-models/home/HomeViewModel.h
  view-models/taskmanagement/TaskGroupsViewModel.cpp
  view-models/taskmanagement/TaskGroupsViewModel.h
  view-models/userprofile/UserProfileViewModel.cpp
  view-models/userprofile/UserProfileViewModel.h
Due: none

Implement Task Groups View Model
  CMakeLists.txt
  main.cpp
  utils/qmltypes/PriorityTypeClass.h
  view-models/taskmanagement/TaskGroupViewModel.cpp
  view-models/taskmanagement/TaskGroupViewModel.h
  view-models/taskmanagement/TaskGroupsViewModel.cpp
  view-models/taskmanagement/TaskGroupsViewModel.h
  view-models/taskmanagement/TasksViewModel.cpp
  view-models/taskmanagement/TasksViewModel.h
Due: clang-format

Implement tasks view model
  CMakeLists.txt
  view-models/taskmanagement/TaskViewModel.cpp
  view-models/taskmanagement/TaskViewModel.h
  view-models/taskmanagement/TasksViewModel.cpp
  view-models/taskmanagement/TasksViewModel.h
Due: none

Update README.md
  README.md
Due: none

Implement pomodoro view model
  CMakeLists.txt
  main.cpp
  utils/qmltypes/DynamicObjectStateClass.h
  view-models/pomodoro/PomodoroViewModel.cpp
  view-models/pomodoro/PomodoroViewModel.h
Due: clang-format

Fixed missing files and folders in pre-commit config
  .pre-commit-config.yaml
  helpers/ParamContainerHelper.h
  qmlmodules/task_group_list/CMakeLists.txt
  qmlmodules/userprofile/CMakeLists.txt
  services/interfaces/export-headers/ServiceExport.h
  services/interfaces/export-headers/ServiceFactoryExport.h
  services/interfaces/export-headers/WindowServiceExport.h
  services/interfaces/include/IService.h
  services/interfaces/include/IServiceFactory.h
  services/interfaces/include/IServiceListener.h
  services/interfaces/include/window-services/IWMediaService.h
  services/interfaces/include/window-services/IWMediaServiceListener.h
  services/interfaces/include/window-services/WMediaServiceUtils.h
  services/service-factory/include/ServiceFactory.h
  services/service-factory/src/ServiceFactory.cpp
  services/window-services/media/include/WindowMediaService.h
  services/window-services/media/include/WindowSystemMedia.h
  services/window-services/media/src/WindowMediaService.cpp
  services/window-services/media/src/WindowSystemMedia.cpp
  services/window-services/tests/WindowMediaServiceTest.cpp
  view-models/home/HomeViewModel.cpp
  view-models/home/HomeViewModel.h
  view-models/pomodoro/PomodoroViewModel.cpp
  view-models/pomodoro/PomodoroViewModel.h
  view-models/taskmanagement/TaskGroupViewModel.cpp
  view-models/taskmanagement/TaskGroupViewModel.h
  view-models/taskmanagement/TaskGroupsViewModel.cpp
  view-models/taskmanagement/TaskGroupsViewModel.h
  view-models/taskmanagement/TaskViewModel.cpp
  view-models/taskmanagement/TaskViewModel.h
  view-models/taskmanagement/TasksViewModel.cpp
  view-models/taskmanagement/TasksViewModel.h
  view-models/userprofile/UserProfileViewModel.cpp
  view-models/userprofile/UserProfileViewModel.h
Due: prettier

Remove dummy data by using QObject view model
  CMakeLists.txt
  core/GuiApplication.cpp
  core/controllers/ViewModelController.cpp
  core/controllers/ViewModelController.h
  core/factories/view-model-producers/HomeVMProducer.cpp
  core/factories/view-model-producers/HomeVMProducer.h
  main.cpp
  qmlmodules/mediaplayer/MediaPlayer.qml
  qmlmodules/pomodoro/PomodoroPanel.qml
  qmlmodules/pomodoro/PomodoroTitlePanel.qml
  qmlmodules/task_group_list/CMakeLists.txt
  qmlmodules/task_group_list/GroupItem.qml
  qmlmodules/task_group_list/TaskGroupItem.qml
  qmlmodules/task_group_list/TaskGroupListPanel.qml
  qmlmodules/tasks_list/TasksListPanel.qml
  qmlmodules/userprofile/UserProfilePanel.qml
  qmlmodules/window/CMakeLists.txt
  qmlmodules/window/window-components/MainWindow.qml
  qmlmodules/window/window-components/WHomeTabLayout.qml
  utils/qmltypes/MainTabTypeClass.h
  utils/qmltypes/PomodoroStateClass.h
  view-models/home/HomeViewModel.cpp
  view-models/home/HomeViewModel.h
  view-models/pomodoro/PomodoroTitleViewModel.cpp
  view-models/pomodoro/PomodoroTitleViewModel.h
  view-models/pomodoro/PomodoroViewModel.cpp
  view-models/pomodoro/PomodoroViewModel.h
  view-models/taskmanagement/TaskGroupViewModel.cpp
  view-models/taskmanagement/TaskGroupViewModel.h
  view-models/taskmanagement/TaskGroupsViewModel.cpp
  view-models/taskmanagement/TaskGroupsViewModel.h
  view-models/taskmanagement/TasksViewModel.cpp
  view-models/taskmanagement/TasksViewModel.h
Due: clang-format

Fixed undefined model when trying to assign to TaskGroupItem property
  qmlmodules/task_group_list/CMakeLists.txt
  qmlmodules/task_group_list/GroupItem.qml
  qmlmodules/task_group_list/TaskGroupItem.qml
  qmlmodules/task_group_list/TaskGroupListPanel.qml
  view-models/taskmanagement/TaskGroupsViewModel.cpp
Due: none

Inject the tasks view model object to TasksListView qml view
  qmlmodules/task_group_list/TaskGroupListPanel.qml
  qmlmodules/tasks_list/TaskItem.qml
  qmlmodules/tasks_list/TasksListPanel.qml
  qmlmodules/tasks_list/TasksListView.qml
  view-models/taskmanagement/TaskViewModel.cpp
  view-models/taskmanagement/TaskViewModel.h
  view-models/taskmanagement/TasksViewModel.cpp
  view-models/taskmanagement/TasksViewModel.h
Due: none

Add task name and description properties to PomodoroViewModel and update QML bindings
  qmlmodules/pomodoro/PomodoroPanel.qml
  view-models/pomodoro/PomodoroViewModel.cpp
  view-models/pomodoro/PomodoroViewModel.h
Due: none

Add title and icon properties to PomodoroTitleViewModel and update QML bindings
  qmlmodules/pomodoro/PomodoroTitlePanel.qml
  view-models/pomodoro/PomodoroTitleViewModel.cpp
  view-models/pomodoro/PomodoroTitleViewModel.h
Due: none

Refactor PomodoroViewModel to use QString for progressTime and update QML bindings accordingly
  qmlmodules/pomodoro/PomodoroPanel.qml
  view-models/pomodoro/PomodoroViewModel.cpp
  view-models/pomodoro/PomodoroViewModel.h
Due: none

Refactor WindowSystemMedia to improve initialization and media property updates
  core/GuiApplication.cpp
  core/GuiApplication.h
  core/controllers/ModelController.cpp
  core/controllers/ModelController.h
  core/controllers/ViewModelController.cpp
  core/controllers/ViewModelController.h
  core/services/ServiceConcreteHelper.h
  core/services/ServiceManager.cpp
  core/services/ServiceManager.h
  core/services/listeners/WMediaServiceListener.cpp
  core/services/producer/ServiceMessageCreator.h
  core/services/producer/ServiceMessageProducer.h
  core/services/strategies/window-service/WMediaInfoExtractStrategy.cpp
  main.cpp
  services/interfaces/include/IService.h
  services/interfaces/include/window-services/IWMediaService.h
  services/window-services/media/include/WindowMediaService.h
  services/window-services/media/include/WindowSystemMedia.h
  services/window-services/media/src/WindowMediaService.cpp
  services/window-services/media/src/WindowSystemMedia.cpp
Due: clang-format

Enhance MediaPlayerViewModel with title, album, artist, and thumbnail change slots; update message creators to accept parameters
  core/controllers/ViewModelController.h
  core/services/listeners/WMediaServiceListener.cpp
  core/services/producer/ServiceMessageCreator.h
  core/services/producer/ServiceMessageProducer.h
  core/services/producer/window-service/WMediaInfoMessageCreator.cpp
  core/services/producer/window-service/WMediaInfoMessageCreator.h
  core/services/producer/window-service/WNextAsyncMessageCreator.cpp
  core/services/producer/window-service/WNextAsyncMessageCreator.h
  core/services/producer/window-service/WPauseAsyncMessageCreator.cpp
  core/services/producer/window-service/WPauseAsyncMessageCreator.h
  core/services/producer/window-service/WPlayAsyncMessageCreator.cpp
  core/services/producer/window-service/WPlayAsyncMessageCreator.h
  core/services/producer/window-service/WPlaybackControlsMessageCreator.cpp
  core/services/producer/window-service/WPlaybackControlsMessageCreator.h
  core/services/producer/window-service/WPlaybackInfoMessageCreator.cpp
  core/services/producer/window-service/WPlaybackInfoMessageCreator.h
  core/services/producer/window-service/WPreviousAsyncMessageCreator.cpp
  core/services/producer/window-service/WPreviousAsyncMessageCreator.h
  core/services/producer/window-service/WTimelinePropertiesMessageCreator.cpp
  core/services/producer/window-service/WTimelinePropertiesMessageCreator.h
  core/services/strategies/window-service/WMediaInfoExtractStrategy.cpp
  models/mediaplayer/MediaPlayerModel.cpp
  models/mediaplayer/MediaPlayerModel.h
  view-models/mediaplayer/MediaPlayerViewModel.cpp
  view-models/mediaplayer/MediaPlayerViewModel.h
Due: clang-format

Add playback control updates and threading support in MediaPlayer components
  core/services/listeners/WMediaServiceListener.cpp
  core/services/producer/window-service/WPlaybackControlsMessageCreator.cpp
  core/services/producer/window-service/WPlaybackInfoMessageCreator.cpp
  core/services/strategies/window-service/WPlaybackControlsExtractStrategy.cpp
  core/services/strategies/window-service/WPlaybackInfoExtractStrategy.cpp
  models/mediaplayer/MediaPlaybackModel.cpp
  models/mediaplayer/MediaPlaybackModel.h
  models/mediaplayer/MediaPlayerModel.cpp
  qmlmodules/mediaplayer/MediaPlayer.qml
  view-models/mediaplayer/MediaPlaybackViewModel.cpp
  view-models/mediaplayer/MediaPlaybackViewModel.h
Due: clang-format

Fixed no background song information displayed until next track in media player
  core/controllers/ViewModelController.cpp
  view-models/mediaplayer/MediaPlaybackViewModel.cpp
  view-models/mediaplayer/MediaPlaybackViewModel.h
  view-models/mediaplayer/MediaPlayerViewModel.cpp
  view-models/mediaplayer/MediaPlayerViewModel.h
Due: clang-format

Implement asynchronous playback control methods and enhance playback status handling
  core/services/strategies/window-service/WPauseAsyncExtractStrategy.cpp
  core/services/strategies/window-service/WPlayAsyncExtractStrategy.cpp
  qmlmodules/mediaplayer/MediaPlayer.qml
  services/interfaces/include/window-services/IWMediaServiceListener.h
  services/window-services/media/include/WindowMediaService.h
  services/window-services/media/include/WindowSystemMedia.h
  services/window-services/media/src/WindowMediaService.cpp
  services/window-services/media/src/WindowSystemMedia.cpp
  view-models/mediaplayer/MediaPlaybackViewModel.cpp
Due: clang-format

Fixed crashed by init the view model in wrong time
  main.cpp
Due: clang-format

Fix task list overlapped with the outside menu tab layout
  qmlmodules/window/window-components/WHomeTabLayout.qml
Due: none

Add default artwork and icon resources for media player and task group list
  qmlmodules/mediaplayer/CMakeLists.txt
  qmlmodules/mediaplayer/MediaPlayer.qml
  qmlmodules/mediaplayer/resources/default-media-artwork.png
  qmlmodules/task_group_list/CMakeLists.txt
  qmlmodules/task_group_list/TaskGroupItem.qml
  qmlmodules/task_group_list/TaskGroupListPanel.qml
  qmlmodules/task_group_list/resources/icon/default-task-icon.png
  qmlmodules/userprofile/resources/default-avatar.png
  view-models/taskmanagement/TaskGroupsViewModel.cpp
Due: none
