Repository latrung124/Totodoro: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        additional_dependencies: ["prettier@3.0.0-alpha.0"]
        entry: prettier --write --list-different --ignore-unknown
        language: node
        types: [text]
        files: \.(yaml|yml)$

      - id: clang-format
        name: clang-format
        entry: clang-format -i
        args: ["-fallback-style=none"]
        language: python
        additional_dependencies: ["clang-format==16.0.6"]
        types_or: [c, c++]
        files: |
          (?x)(
            ^core/.* |
            ^core/services/.* |
            ^core/controllers/.* |
            ^config/const_val/.* |
            ^utils/.* |
            ^view-models/mediaplayer/.* |
            ^models/.* |
            ^models/mediaplayer/.* |
            main.cpp
          )$

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: cmake-format
        description: cmake-format can format your listfiles nicely so that they don't look like crap.
        entry: cmake-format -i
        language: python
        types_or: [cmake]
        additional_dependencies: ["cmakelang"]
        files: |
          (?x)(
            CMakeList.txt |
            ^qmlmodules/.* |
            ^qmlmodules/common/.* |
            ^qmlmodules/mediaplayer/.* |
            ^services/.* |
            ^services/interfaces/.* |
            ^services/service-factory/.* |
            ^services/window-services/.* |
          )$

Run pre-commit for missing files and folders
  .pre-commit-config.yaml
  CMakeLists.txt
  qmlmodules/CMakeLists.txt
  qmlmodules/common/CMakeLists.txt
  qmlmodules/mediaplayer/CMakeLists.txt
  services/CMakeLists.txt
  services/interfaces/CMakeLists.txt
  services/service-factory/CMakeLists.txt
  services/window-services/CMakeLists.txt
Due: prettier

Fix built failed and add start message queue function
  core/GuiApplication.cpp
  core/services/service-queue/ServiceMessageQueue.cpp
  core/services/service-queue/ServiceMessageQueue.h
  view-models/mediaplayer/MediaPlayerViewModel.cpp
Due: clang-format

Produce wmediaservice messages and push it to the queue
  core/services/service-consumer/ServiceMessageConsumer.cpp
  core/services/service-listeners/WMediaServiceListener.cpp
  core/services/service-producer/ServiceMessageProducer.cpp
  core/services/service-producer/ServiceMessageProducer.h
Due: clang-format

Implement WPlaybackControlsMessageHandler and WPlaybackInfoMessageHandler
  CMakeLists.txt
  core/services/service-handlers/WPlaybackControlsMessageHandler.cpp
  core/services/service-handlers/WPlaybackControlsMessageHandler.h
  core/services/service-handlers/WPlaybackInfoMessageHandler.cpp
  core/services/service-handlers/WPlaybackInfoMessageHandler.h
  main.cpp
Due: clang-format

Implement Playback Window Media Message classes
  CMakeLists.txt
  core/services/service-listeners/WMediaServiceListener.cpp
  core/services/service-messages/ServiceMessageId.h
  core/services/service-messages/window-service/WNextAsyncMessage.cpp
  core/services/service-messages/window-service/WNextAsyncMessage.h
  core/services/service-messages/window-service/WPauseAsyncMessage.cpp
  core/services/service-messages/window-service/WPauseAsyncMessage.h
  core/services/service-messages/window-service/WPlayAsyncMessage.cpp
  core/services/service-messages/window-service/WPlayAsyncMessage.h
  core/services/service-messages/window-service/WPreviousAsyncMessage.cpp
  core/services/service-messages/window-service/WPreviousAsyncMessage.h
  core/services/service-producer/ServiceMessageProducer.cpp
  core/services/service-producer/ServiceMessageProducer.h
  core/services/service-queue/MessageQueue.h
  core/services/service-queue/ServiceMessageQueue.cpp
  core/services/service-queue/ServiceMessageQueue.h
  intall_conan.bat
  view-models/mediaplayer/MediaPlaybackViewModel.cpp
  view-models/mediaplayer/MediaPlaybackViewModel.h
Due: clang-format

Implement Window Playback Message Handler classes
  CMakeLists.txt
  core/services/service-handlers/WNextAsyncMessageHandler.cpp
  core/services/service-handlers/WNextAsyncMessageHandler.h
  core/services/service-handlers/WPauseAsyncMessageHandler.cpp
  core/services/service-handlers/WPauseAsyncMessageHandler.h
  core/services/service-handlers/WPlayAsyncMessageHandler.cpp
  core/services/service-handlers/WPlayAsyncMessageHandler.h
  core/services/service-handlers/WPreviousAsyncMessageHandler.cpp
  core/services/service-handlers/WPreviousAsyncMessageHandler.h
  main.cpp
Due: clang-format

Remove excess bool values in window playback message classes
  core/services/service-messages/window-service/WNextAsyncMessage.cpp
  core/services/service-messages/window-service/WNextAsyncMessage.h
  core/services/service-messages/window-service/WPauseAsyncMessage.cpp
  core/services/service-messages/window-service/WPauseAsyncMessage.h
  core/services/service-messages/window-service/WPlayAsyncMessage.cpp
  core/services/service-messages/window-service/WPlayAsyncMessage.h
  core/services/service-messages/window-service/WPreviousAsyncMessage.cpp
  core/services/service-messages/window-service/WPreviousAsyncMessage.h
Due: clang-format

Implement window media playback api skeleton, not contain content
  services/interfaces/include/window-services/IWMediaService.h
  services/window-services/media/include/WindowMediaService.h
  services/window-services/media/src/WindowMediaService.cpp
Due: none

Implement window media playback message consumer methods
  core/services/service-handlers/WNextAsyncMessageHandler.cpp
  core/services/service-handlers/WPauseAsyncMessageHandler.cpp
  core/services/service-handlers/WPlayAsyncMessageHandler.cpp
  core/services/service-handlers/WPreviousAsyncMessageHandler.cpp
Due: clang-format

Implement Window System Media and WMediaService classes
  CMakeLists.txt
  core/services/service-handlers/WTimelinePropertiesMessageHandler.cpp
  core/services/service-handlers/WTimelinePropertiesMessageHandler.h
  core/services/service-listeners/WMediaServiceListener.cpp
  core/services/service-listeners/WMediaServiceListener.h
  core/services/service-messages/ServiceMessageId.h
  core/services/service-messages/window-service/WTimelinePropertiesMessage.cpp
  core/services/service-messages/window-service/WTimelinePropertiesMessage.h
  core/services/service-producer/ServiceMessageProducer.cpp
  main.cpp
  services/interfaces/include/window-services/IWMediaServiceListener.h
  services/interfaces/include/window-services/WMediaServiceUtils.h
  services/window-services/CMakeLists.txt
  services/window-services/media/include/WindowMediaService.h
  services/window-services/media/include/WindowSystemMedia.h
  services/window-services/media/src/WindowMediaService.cpp
  services/window-services/media/src/WindowSystemMedia.cpp
Due: clang-format

Implement close window function
  CMakeLists.txt
  Main.qml
  core/GuiApplication.cpp
  core/GuiApplication.h
  core/contexts/Context.h
  core/contexts/WindowNavigator.cpp
  core/contexts/WindowNavigator.h
  core/controllers/ModuleController.cpp
  core/controllers/ModuleController.h
  main.cpp
  qmlmodules/common/WindowControl.qml
  qmlmodules/common/buttons/CustomButton.qml
Due: clang-format

Fix the service message queue wasn't closed lead to main event paused
  CMakeLists.txt
  Main.qml
  core/GuiApplication.cpp
  core/GuiApplication.h
  core/contexts/WindowNavigator.cpp
  core/contexts/WindowNavigator.h
  core/controllers/ModuleController.cpp
  core/controllers/ModuleController.h
  core/services/service-queue/ServiceMessageQueue.cpp
  core/services/service-queue/ServiceMessageQueue.h
  main.cpp
Due: clang-format

Implement Scoped Thread class
  CMakeLists.txt
  utils/ScopedThread.h
Due: clang-format

Implement maximize and minimize window button with tooltips
  Main.qml
  qmlmodules/common/WindowControl.qml
Due: none

Implement minimize animation
  Main.qml
Due: none

Implement IMPORT_PATH for qml modules
  CMakeLists.txt
  qmlmodules/common/CMakeLists.txt
  qmlmodules/mediaplayer/CMakeLists.txt
Due: none

Add WMediaService Google Unit Test
  services/window-services/CMakeLists.txt
  services/window-services/tests/CMakeLists.txt
  services/window-services/tests/WindowMediaServiceTest.cpp
Due: none

Refactor ServiceMessageProducer
  CMakeLists.txt
  core/services/service-listeners/WMediaServiceListener.cpp
  core/services/service-messages/ServiceMessage.h
  core/services/service-producer/ServiceMessageCreator.h
  core/services/service-producer/ServiceMessageProducer.cpp
  core/services/service-producer/ServiceMessageProducer.h
  core/services/service-producer/ServiceProducer.h
  core/services/service-producer/window-service/WMediaInfoMessageCreator.cpp
  core/services/service-producer/window-service/WMediaInfoMessageCreator.h
  core/services/service-producer/window-service/WNextAsyncMessageCreator.cpp
  core/services/service-producer/window-service/WNextAsyncMessageCreator.h
  core/services/service-producer/window-service/WPauseAsyncMessageCreator.cpp
  core/services/service-producer/window-service/WPauseAsyncMessageCreator.h
  core/services/service-producer/window-service/WPlayAsyncMessageCreator.cpp
  core/services/service-producer/window-service/WPlayAsyncMessageCreator.h
  core/services/service-producer/window-service/WPlaybackControlsMessageCreator.cpp
  core/services/service-producer/window-service/WPlaybackControlsMessageCreator.h
  core/services/service-producer/window-service/WPlaybackInfoMessageCreator.cpp
  core/services/service-producer/window-service/WPlaybackInfoMessageCreator.h
  core/services/service-producer/window-service/WPreviousAsyncMessageCreator.cpp
  core/services/service-producer/window-service/WPreviousAsyncMessageCreator.h
  core/services/service-producer/window-service/WTimelinePropertiesMessageCreator.cpp
  core/services/service-producer/window-service/WTimelinePropertiesMessageCreator.h
  view-models/mediaplayer/MediaPlaybackViewModel.cpp
Due: clang-format

Register WMedia Service Message Creators to Producer
  main.cpp
Due: clang-format

Remove service message handler classes
  CMakeLists.txt
  core/services/service-consumer/ServiceMessageConsumer.cpp
  core/services/service-consumer/ServiceMessageConsumer.h
  core/services/service-handlers/ServiceMessageHandler.h
  core/services/service-handlers/WMediaInfoMessageHandler.cpp
  core/services/service-handlers/WMediaInfoMessageHandler.h
  core/services/service-handlers/WNextAsyncMessageHandler.cpp
  core/services/service-handlers/WNextAsyncMessageHandler.h
  core/services/service-handlers/WPauseAsyncMessageHandler.cpp
  core/services/service-handlers/WPauseAsyncMessageHandler.h
  core/services/service-handlers/WPlayAsyncMessageHandler.cpp
  core/services/service-handlers/WPlayAsyncMessageHandler.h
  core/services/service-handlers/WPlaybackControlsMessageHandler.cpp
  core/services/service-handlers/WPlaybackControlsMessageHandler.h
  core/services/service-handlers/WPlaybackInfoMessageHandler.cpp
  core/services/service-handlers/WPlaybackInfoMessageHandler.h
  core/services/service-handlers/WPreviousAsyncMessageHandler.cpp
  core/services/service-handlers/WPreviousAsyncMessageHandler.h
  core/services/service-handlers/WTimelinePropertiesMessageHandler.cpp
  core/services/service-handlers/WTimelinePropertiesMessageHandler.h
  main.cpp
Due: clang-format

Modify ExtractStrategy to IStrategy with execute function instead
  CMakeLists.txt
  core/services/service-messages/window-service/WMediaInfoMessage.cpp
  core/services/service-messages/window-service/WMediaInfoMessage.h
  core/services/service-messages/window-service/WNextAsyncMessage.cpp
  core/services/service-messages/window-service/WNextAsyncMessage.h
  core/services/service-messages/window-service/WPauseAsyncMessage.cpp
  core/services/service-messages/window-service/WPauseAsyncMessage.h
  core/services/service-messages/window-service/WPlayAsyncMessage.cpp
  core/services/service-messages/window-service/WPlayAsyncMessage.h
  core/services/service-messages/window-service/WPlaybackControlsMessage.cpp
  core/services/service-messages/window-service/WPlaybackControlsMessage.h
  core/services/service-messages/window-service/WPlaybackInfoMessage.cpp
  core/services/service-messages/window-service/WPlaybackInfoMessage.h
  core/services/service-messages/window-service/WPreviousAsyncMessage.cpp
  core/services/service-messages/window-service/WPreviousAsyncMessage.h
  core/services/service-messages/window-service/WTimelinePropertiesMessage.cpp
  core/services/service-messages/window-service/WTimelinePropertiesMessage.h
  core/services/service-strategies/ExtractStrategy.h
  core/services/service-strategies/IStrategy.h
  core/services/service-strategies/window-service/WMediaInfoExtractStrategy.cpp
  core/services/service-strategies/window-service/WMediaInfoExtractStrategy.h
  core/services/service-strategies/window-service/WNextAsyncExtractStrategy.cpp
  core/services/service-strategies/window-service/WNextAsyncExtractStrategy.h
  core/services/service-strategies/window-service/WPauseAsyncExtractStrategy.cpp
  core/services/service-strategies/window-service/WPauseAsyncExtractStrategy.h
  core/services/service-strategies/window-service/WPlayAsyncExtractStrategy.cpp
  core/services/service-strategies/window-service/WPlayAsyncExtractStrategy.h
  core/services/service-strategies/window-service/WPlaybackControlsExtractStrategy.cpp
  core/services/service-strategies/window-service/WPlaybackControlsExtractStrategy.h
  core/services/service-strategies/window-service/WPlaybackInfoExtractStrategy.cpp
  core/services/service-strategies/window-service/WPlaybackInfoExtractStrategy.h
  core/services/service-strategies/window-service/WPreviousAsyncExtractStrategy.cpp
  core/services/service-strategies/window-service/WPreviousAsyncExtractStrategy.h
  core/services/service-strategies/window-service/WTimelinePropertiesExtractStrategy.cpp
  core/services/service-strategies/window-service/WTimelinePropertiesExtractStrategy.h
Due: clang-format

Rename Message and MessageQueue classes
  CMakeLists.txt
  core/GuiApplication.cpp
  core/services/consumer/ServiceMessageConsumer.h
  core/services/listeners/WMediaServiceListener.cpp
  core/services/messages/Message.h
  core/services/messages/MessageId.h
  core/services/messages/ServiceMessage.h
  core/services/messages/window-service/WMediaInfoMessage.cpp
  core/services/messages/window-service/WMediaInfoMessage.h
  core/services/messages/window-service/WNextAsyncMessage.cpp
  core/services/messages/window-service/WNextAsyncMessage.h
  core/services/messages/window-service/WPauseAsyncMessage.cpp
  core/services/messages/window-service/WPauseAsyncMessage.h
  core/services/messages/window-service/WPlayAsyncMessage.cpp
  core/services/messages/window-service/WPlayAsyncMessage.h
  core/services/messages/window-service/WPlaybackControlsMessage.cpp
  core/services/messages/window-service/WPlaybackControlsMessage.h
  core/services/messages/window-service/WPlaybackInfoMessage.cpp
  core/services/messages/window-service/WPlaybackInfoMessage.h
  core/services/messages/window-service/WPreviousAsyncMessage.cpp
  core/services/messages/window-service/WPreviousAsyncMessage.h
  core/services/messages/window-service/WTimelinePropertiesMessage.cpp
  core/services/messages/window-service/WTimelinePropertiesMessage.h
  core/services/producer/ServiceMessageCreator.h
  core/services/producer/ServiceMessageProducer.h
  core/services/queue/MessageQueue.cpp
  core/services/queue/MessageQueue.h
  core/services/queue/ServiceMessageQueue.h
  view-models/mediaplayer/MediaPlaybackViewModel.cpp
Due: clang-format

Rename extract function in message class to execute
  core/services/consumer/ServiceMessageConsumer.cpp
  core/services/messages/Message.h
  core/services/messages/window-service/WMediaInfoMessage.cpp
  core/services/messages/window-service/WMediaInfoMessage.h
  core/services/messages/window-service/WNextAsyncMessage.cpp
  core/services/messages/window-service/WNextAsyncMessage.h
  core/services/messages/window-service/WPauseAsyncMessage.cpp
  core/services/messages/window-service/WPauseAsyncMessage.h
  core/services/messages/window-service/WPlayAsyncMessage.cpp
  core/services/messages/window-service/WPlayAsyncMessage.h
  core/services/messages/window-service/WPlaybackControlsMessage.cpp
  core/services/messages/window-service/WPlaybackControlsMessage.h
  core/services/messages/window-service/WPlaybackInfoMessage.cpp
  core/services/messages/window-service/WPlaybackInfoMessage.h
  core/services/messages/window-service/WPreviousAsyncMessage.cpp
  core/services/messages/window-service/WPreviousAsyncMessage.h
  core/services/messages/window-service/WTimelinePropertiesMessage.cpp
  core/services/messages/window-service/WTimelinePropertiesMessage.h
Due: clang-format

Import window module plugin config
  CMakeLists.txt
  Main.qml
  core/GuiApplication.cpp
  qmlmodules/CMakeLists.txt
  qmlmodules/window/CMakeLists.txt
  qmlmodules/window/resources/close-button.png
  qmlmodules/window/resources/maximize-button.png
  qmlmodules/window/resources/minimize-button.png
  qmlmodules/window/window-components/MainWindow.qml
Due: clang-format

Implement window control button and remove useless common files
  qmlmodules/common/CMakeLists.txt
  qmlmodules/common/resources/window/MediaPlayerModel.cpp
  qmlmodules/common/resources/window/close-button.png
  qmlmodules/common/resources/window/maximize-button.png
  qmlmodules/common/resources/window/minimize-button.png
  qmlmodules/window/CMakeLists.txt
  qmlmodules/window/resources/close-button.png
  qmlmodules/window/window-components/MainWindow.qml
  qmlmodules/window/window-components/WindowControl.qml
Due: none

Fixed missing import module path
  core/GuiApplication.cpp
Due: clang-format

Implement close and minimize ui function
  qmlmodules/window/window-components/MainWindow.qml
Due: none

Implement app name icon component
  qmlmodules/window/CMakeLists.txt
  qmlmodules/window/resources/app-name.png
  qmlmodules/window/window-components/MainWindow.qml
Due: none

Implement a window drag handler
  qmlmodules/common/CMakeLists.txt
  qmlmodules/common/draggers/WindowDragger.qml
  qmlmodules/window/window-components/MainWindow.qml
Due: none

Implement menutabs and menutab for window module
  qmlmodules/common/CMakeLists.txt
  qmlmodules/common/menus/MenuTab.qml
  qmlmodules/common/menus/MenuTabs.qml
  qmlmodules/window/CMakeLists.txt
  qmlmodules/window/resources/home-button.png
  qmlmodules/window/resources/statistics-button.png
  qmlmodules/window/window-components/MainWindow.qml
Due: none

Implement DialogFrameView that placed in MainWindow
  qmlmodules/common/CMakeLists.txt
  qmlmodules/common/views/DialogFrameView.qml
  qmlmodules/window/window-components/MainWindow.qml
Due: none

Implement flexible selected main menu tabs
  qmlmodules/common/buttons/CustomButton.qml
  qmlmodules/common/buttons/CustomButtonBackground.qml
  qmlmodules/common/menus/MenuTab.qml
  qmlmodules/common/menus/MenuTabs.qml
  qmlmodules/window/window-components/MainWindow.qml
Due: none

Implement window home tab layout
  qmlmodules/common/CMakeLists.txt
  qmlmodules/common/shapes/RoundedRectangle.qml
  qmlmodules/common/views/DialogFrameView.qml
  qmlmodules/window/CMakeLists.txt
  qmlmodules/window/layouts/WHomeTabLayout.qml
  qmlmodules/window/window-components/MainWindow.qml
Due: none

Add comment for common items and add some reuseble properties
  qmlmodules/common/draggers/WindowDragger.qml
  qmlmodules/common/menus/MenuTab.qml
  qmlmodules/common/menus/MenuTabs.qml
  qmlmodules/common/shapes/RoundedRectangle.qml
  qmlmodules/common/views/DialogFrameView.qml
  qmlmodules/window/layouts/WHomeTabLayout.qml
  qmlmodules/window/window-components/MainWindow.qml
Due: none

Fixed custom button cant change the background radius and icon size
  qmlmodules/common/buttons/CustomButton.qml
  qmlmodules/common/buttons/CustomButtonBackground.qml
Due: none

Implement tasks_list qml module
  qmlmodules/CMakeLists.txt
  qmlmodules/tasks_list/CMakeLists.txt
  qmlmodules/tasks_list/OverlayedImage.qml
  qmlmodules/tasks_list/TaskItem.qml
  qmlmodules/tasks_list/TasksListPanel.qml
  qmlmodules/tasks_list/TasksListView.qml
  qmlmodules/tasks_list/resources/icon/addplus.svg
  qmlmodules/tasks_list/resources/icon/completed.svg
  qmlmodules/tasks_list/resources/icon/flag.svg
  qmlmodules/tasks_list/resources/icon/menu.svg
  qmlmodules/tasks_list/resources/priority/high.svg
  qmlmodules/tasks_list/resources/priority/highest.svg
  qmlmodules/tasks_list/resources/priority/low.svg
  qmlmodules/tasks_list/resources/priority/lowest.svg
  qmlmodules/tasks_list/resources/priority/medium.svg
Due: none

Implement dynamic object, details pomodoro, start button
  qmlmodules/pomodoro/CMakeLists.txt
  qmlmodules/pomodoro/PomodoroPanel.qml
  qmlmodules/pomodoro/resources/monster-level-1.png
  qmlmodules/pomodoro/resources/monster-level-4.png
Due: none

Initialize pomodoro panel simple layout
  CMakeLists.txt
  qmlmodules/CMakeLists.txt
  qmlmodules/pomodoro/CMakeLists.txt
  qmlmodules/pomodoro/PomodoroPanel.qml
  qmlmodules/pomodoro/resources/flag.png
  qmlmodules/pomodoro/resources/flag2.png
  qmlmodules/pomodoro/resources/location.png
  qmlmodules/pomodoro/resources/monster-level4.png
  qmlmodules/pomodoro/resources/square-clock.png
  qmlmodules/window/layouts/WHomeTabLayout.qml
Due: none
